.p-hist-transaction{position: absolute;
width: 524px;
height: 242px;
left: 720px;
top: 216px;

background: #F7DADA;
border-radius: 10px;}

.p-text-profile{

    position: absolute;
width: 86px;
height: 25px;
left: 404px;
top: 216px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #613D2B;

}

.p-text-profile{
    
}




.text-title-right {
    color: #bd0707;
    font-size: 24px;
    font-family: "avenir bold";
    font-weight: 900;
  }
  
  .fullname-title {
    font-size: 18px;
    color: #613d2b;
    font-family: "avenir";
    font-weight: 800;
    line-height: 25px;
  }
  
  .fullname-text {
    font-size: 18px;
    color: #000000;
    font-family: "avenir";
    font-weight: 400;
    line-height: 25px;
  }
  
  .text-title-left {
    color: #bd0707;
    font-size: 24px;
    font-family: "avenir bold";
    font-weight: 900;
  }
  
  .detail-drink-list {
    display: flex;
    justify-content: center;
    width: 525px;
    background-color: #f7dada;
    border-radius: 10px;
    gap: 20px;
  }
  
  .container-drink-list {
    background-color: #f7dada;
    display: flex;
    width: 100%;
    min-height: 100px;
    /* margin: 14px 24px; */
    margin-top: 14px;
  }
  
  .image-drink {
    width: 80px;
    /* object-fit: cover; */
  }
  
  .container-detail-drink-left {
    margin-left: 13px;
  }
  
  .container-detail-drink-left > * {
    margin: 3px;
  }
  
  .title-detail-drink {
    color: #bd0707;
    font-size: 14px;
    font-family: "avenir bold";
  }
  
  .title-2-detail-drink {
    color: #bd0707;
    font-size: 9px;
    font-family: "avenir bold";
  }
  
  .title-3-detail-drink {
    color: #974a4a;
    font-size: 10px;
    font-family: "avenir bold";
  }
  
  .title-4-detail-drink {
    color: #974a4a;
    font-size: 10px;
    font-family: "avenir";
    font-weight: 400;
  }
  
  .right-detail-drink-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* border: 1px solid black; */
    margin: 0;
    text-align: center;
  }
  
  .order-status {
    background: rgb(0, 209, 255, 0.2);
    background: rgba();
    border-radius: 2px;
    display: flex;
    height: 20px;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-status > p {
    color: #00d1ff;
    font-size: 10px;
    font-weight: 900;
    margin: 0;
  }
  
  /* .order-status {
    background: linear-gradient(180deg, #00d1ff 0%, #00d1ff 100%);
    opacity: 0.2;
    border-radius: 2px;
    height: 40px;
    width: 120px;
    font-size: 10px;
    font-weight: 900;
  } */
  
  .subtotal-drink-list {
    color: #974a4a;
    font-size: 10px;
    font-weight: 900;
    font-family: "avenir bold";
  }
  